body{
	font-size: 16px;
	margin: 0px auto;
	min-width: 1078px;
	max-width: 1078px;
}

footer{
	border-top: 3px solid lightgray;
	color: white;
	background: #4d70ba;
	padding-left: 20px;
	margin-top: 30px;
}

header input{
	float: right;
	margin-right: -250px;
	margin-top: 15px;
	position: relative;
}

header nav{
	margin-left: 220px;
}

header nav ul li{
	border-bottom: 1px solid lightgray;
	color: lightgray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
	padding-bottom: 2px;
}

#bgoffer{
	left: -35px;
	position: relative;
	top: -410px;
}

#granthams{
	margin-left: 25px;
	margin-top:  25px;	
}

#paint{
	float: right;
}

#primerSeccion{
	height: 318px;
	margin-top: 60px;
}

#primerSeccion article{
	display: inline-block;
	vertical-align: top;
}

#secc01art01{
	margin-left: 30px;
	width: 60%;
}

#secc01art02{
	margin-left: 50px;
	width: 30%;
}

#secc01art02 ul{
	list-style: none;
	margin-left: -40px;
}

#secc01art02 ul li:before{
	content: "• ";
	color: #FF0099;
}

#secc03art04{
	padding-left: 25px;
	padding-top: 40px;
}

#segundaSeccion article{
	padding-right: 122px;
	text-align: right;
}

#terceraSeccion article{
	display: inline-block;
	vertical-align: top;
	width: 23%;
}

#terceraSeccion article img{
	vertical-align: middle;
}

#terceraSeccion article input{
	border-radius: 5px;
}

#terceraSeccion article input[type="button"]{
	background: #8BC500;
	color: white;
}

.colorazul{
	color: #4267B3;
}

.colorverde{
	color: #8BC500;
}

.colorrosa{
	color: #FF0099;
}

.letragrande{
	font-size: 3.5em;
}

.letramediana{
	font-size: 2em;
}

.nito{
	font-weight: bold;
}

#footerSection{
	display: inline-block;
	margin: 30px 0 10px 0;
	vertical-align: bottom;
	font-size: 14px;
}

#footerArticle01{
	width: 50%;
	float: left;
}

#footerArticle02{
	width: 35%;
	float: left;
	vertical-align: bottom;
}

#footerArticle03{
	width: 5%;
	float: left;
	vertical-align: bottom;
}

#footerArticle03 input[type="button"] {
	vertical-align: bottom;
	border-radius: 10px;
}